@model Campeonato.Models.Placar

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Placar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jogador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jogador.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPontos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPontos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlacarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
